@import "colors";
@import "dimens";

/* 改变主题色变量 */
$--color-primary: $theme;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-loading-mask {
  z-index: $header-z-index - 1;
}

.el-alert {
  border-radius: 0;
}

.el-alert--success {
  background-color: $theme !important;
  color: white !important;
  opacity: 0.8;
}

.modal-alert {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
